:host {
    position: relative;
    z-index: 200;
}

.action-bar {
    background: linear-gradient(90deg, #7c3aed, #a855f7);
    color: white;
    font-family: 'Inter', sans-serif;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 200; // above header
    width: 100%;
    animation: slideDown 0.4s ease-out;
    display: flex;
    justify-content: center;

    &--hidden {
        transform: translateY(-100%);
    }
}

.action-bar__container {
    margin: 0px 20px;
    padding: 1rem 0rem;
    max-width: 52rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-bar__text {
    font-size: 0.95rem;
    cursor: pointer;
    font-weight: 500;
    transition: opacity 0.2s ease;
}

.action-bar__text:hover {
    opacity: 0.75;
}

.action-bar__close {
    width: 24px;
    height: 24px;
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white ;

    transition: opacity 0.25s ease, transform 0.2s ease;
}

.action-bar__close:hover {
    opacity: 0.7;
    transform: scale(1.05);
}

/* Cross lines */
.action-bar__close span {
    position: absolute;
    width: 18px;
    height: 2px;
    background: white;
    border-radius: 2px;
    transition: background 0.25s ease;
}

.action-bar__close span:first-child {
    transform: rotate(45deg);
}

.action-bar__close span:last-child {
    transform: rotate(-45deg);
}

/* Optional: Hover color change */
.action-bar__close:hover span {
    background: #f3e8ff;
    /* light purple tint */
}


@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}