<footer class="footer" id="footer">

    <div class="footer__container">

        <!-- Left Section -->
        <div class="footer__brand">
            <img src="../../../assets/RS.svg" alt="RS Logo" class="footer__logo" />

            <div class="footer__tagline">
                Let's build something amazing together ✨
                <p class="footer__tagline-text">
                    <a href="mailto:ranitsen0104@gmail.com" class="footer__link"
                        target="_blank">ranitsen02@gmail.com</a>, <a href="tel:+916290356374"
                        class="footer__link">6290356374</a>
                </p>
            </div>
        </div>

        <!-- Contact / Social Links -->
        <div class="footer__links">

            <a href="mailto:ranitsen0104@gmail.com" class="footer__link" target="_blank">
                <img src="../../../assets/email.svg" alt="Email Logo" class="footer__logos" />
            </a>

            <a href="tel:+916290356374" class="footer__link">
                <img src="../../../assets/phone.svg" alt="Phone Logo" class="footer__logos" />
            </a>

            <a href="https://www.linkedin.com/in/ranit-sen-33b510193/" class="footer__link" target="_blank">
                <img src="../../../assets/linkedin.svg" alt="Linkedin Logo" class="footer__logos" />
            </a>

            <a href="https://instagram.com/" class="footer__link" target="_blank">
                <img src="../../../assets/instagram.svg" alt="Instagram Logo" class="footer__logos" />
            </a>

            <a href="https://github.com/Ranit-collab" class="footer__link" target="_blank">
                <img src="../../../assets/github.svg" alt="Github Logo" class="footer__logos" />
            </a>

        </div>

    </div>

    <!-- Bottom copyright -->
    <div class="footer__bottom">
        © {{ currentYear }} Ranit Sen. All rights reserved.
    </div>

</footer>