.footer {
    background: #080614;
    padding: 2rem 1.25rem 2rem;
    color: #d8d8e8;
    font-family: 'Inter', sans-serif;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.footer__container {
    max-width: 80rem;
    margin: 0 auto;
    max-width: 52rem;
    ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    flex-wrap: wrap;
}

.footer__brand {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.footer__logo {
    width: 48px;
    opacity: 0.9;
    transition: 0.3s;
}

.footer__logo:hover {
    opacity: 1;
}

.footer__tagline {
    font-size: 1rem;
    color: #a0a0b0;
    //   max-width: 240px;
    line-height: 1.5;
}

.footer__tagline-text {
    margin: 0px;
    color: #7b7b88;
}

/* Links */
.footer__links {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    gap: 1rem;
    //   margin: 1rem 0;
}

.footer__logos {
    width: 24px;
    height: 24px;
}

.footer__link {
    color: rgb(107, 114, 128);
    text-decoration: none;
    font-size: 1rem;
    transition: 0.25s ease;
    position: relative;
}

.footer__link:hover {
    color: #e7d7ff;
    transform: translateY(-5px) scale(1.1);
}

/* Bottom Bar */
.footer__bottom {
    text-align: center;
    color: #7b7b88;
    font-size: 0.9rem;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    padding-top: 1.5rem;
}

/* Responsive */
@media (max-width: 768px) {
    .footer__container {
        flex-direction: column;
        align-items: center;
    }

    .footer__links {
        align-items: center;
    }
}